body {
    font-family: 'Arial', sans-serif;
    background-color: #F2F2F2;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #F57C00;
    text-align: center;
    margin-bottom: 30px;
}

form {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;
}

input[type="text"] {
    width: 45%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #F57C00;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #FF8C1A;
}

h2 {
    color: #F57C00;
    text-align: center;
    margin-bottom: 20px;
}

#tablaResultados {
    margin-top: 20px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #F57C00;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

#resultadoFinal {
    font-size: 18px;
    color: #333;
    text-align: center;
    margin-top: 20px;
}
